@model BlogCommentViewModel
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Blog Details";
}

<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">@Model.Blog.Title.Substring(0,20)...</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="blog" asp-action="index">Blog</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@Model.Blog.Title.Substring(0,20)...</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Blog details section start-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-8 col-md-12 ">
                    <div class="blog-post">
                        <div class="blog-post-image">
                            <img class="img-fluid h-auto" src="~/Uploads/@Model.Blog.Image" alt="blog">
                        </div>
                        <div class="blog-content martop-30">
                            <div class="blog-athor-date">
                                <span> By,<a class="blog-author" href="#"> @Model.Blog.User.Name @Model.Blog.User.Surname</a></span>
                                <span class="blog-date">@Model.Blog.AddedDate.Date.ToString("dd MMMM yyyy")</span>
                            </div>
                            <h4 class="blog-title">
                               @Model.Blog.Title
                            </h4>
                           
                            @Html.Raw(Model.Blog.TextTopQuote)
                        </div>
                        <div class="blog-quate-block">
                            <div class="quate-area">

                                <p class="quate-speech">
                                   @Model.Blog.SloganUser
                                </p>
                                <img class="h-100 speecker-img" src="~/uploads/@Model.Blog.User.Image" alt="" >
                            </div>

                            @Html.Raw(Model.Blog.TextBottomQuote)
                        </div>
                    </div>
                    <div class="tags-social-area d-md-flex justify-content-between">
                        <div class="tags d-flex">
                            <span class="title"><i class="fa fa-tags"></i></span>
                            <ul class="tag-list">
                                @foreach (var tags in Model.Blog.TagToBlogs)
                                {
                                    
                                        <li><a class="tag" href="#">@tags.Tag.Name</a></li>
                                       
                                    

                                }

                              
                            </ul>
                        </div>
                        <div class="socials mb-xs-15 d-flex">
                            <ul class="social">
                                @if (Model.Blog.Socials != null)
                                {
                                    @foreach (var item in Model.Blog.Socials)
                                    {
                                        <li class="m-0">
                                            <a href="@item.Link">@Html.Raw(item.Social.Icon)</a>
                                        </li>
                                    }
                                }

                              
                            </ul>
                        </div>
                    </div>
                    <div class="coment-form-area">
                        <div class="comments">
                            <h2 class="comment-heading">Comments (@Model.Blog.Comments.Count())</h2>
                            <div class="review-wrapper">
                                @foreach (var review in Model.Blog.Comments)
                                {
                                    <div class="review-card">
                                        <div class="user-img">
                                            <img src="~/Uploads/@review.User.Image" alt="">
                                        </div>
                                        <div class="review-content">
                                            <div class="review-user-details">
                                                <div class="d-flex">
                                                    <div class="user-name-data">
                                                        <h4 class="name">@review.User.UserName @review.User.Surname </h4>
                                                        <span class="date">@review.AddedDate.ToString("dd MMMM yyyy")</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="user-comment">
                                                <p>
                                                    @review.Mesage
                                                </p>
                                                <div class="reply">
                                                    <a asp-controller="blog" asp-action="AddComment" asp-route-id="@Model.Blog.Id"><i class="fa fa-reply-all"></i> Reply</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }

                             
                            </div>
                        </div>

                        @if (SignInManager.IsSignedIn(User))
                        {
                            
                    <div class="comment-form">
                        <h2 class="comment-heading">Leave a Comment</h2>
                        <form asp-controller="Blog" asp-action="AddComment" asp-route-id="@Model.Blog.Id" method="post">
                            <div class="form-inner">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-card  m-0">
                                            <input asp-for="Review.Subject" placeholder="Rəyiniz">
                                            <span class="text-danger" asp-validation-for="Review.Subject"></span>
                                        </div>
                                        <div class="form-card  m-0">
                                            <textarea asp-for="Review.Mesage" placeholder="Rəyiniz"></textarea>
                                            <span class="text-danger" asp-validation-for="Review.Mesage"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn primary-button martop-30" type="submit">
                                           Rəy yaz
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                           
                        }



                    </div>
                </div>
                <div class="col-xl-3 col-lg-4  ">
                    <div class="sidebar-right margin-right-20">
                        <!-- Sidebar search item start-->
                        @*<div class="sidebar-wrap">
                            <h3 class="sidebar-title">Search</h3>
                            <div class="search-widget sidebar-widget">
                                <form action="#">
                                    <input placeholder="Search" type="text">
                                    <button type="submit"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                        </div>*@
                        <!-- Sidebar search item end-->
                        <!-- Sidebar category item start -->
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Post Categories</h3>
                            <div class="category-post sidebar-widget">
                                <ul>

                                    <li>
                                        <a href="#" class="active m-0">
                                            <i class="fa fa-angle-right"></i> All
                                            <span>(65)</span>
                                        </a>
                                    </li>
                                    @foreach (var item in Model.Categories)
                                    {
                                        @if (item.Blogs.Count != 0)
                                        {
                                            <li>
                                                <a asp-controller="Blog" asp-action="Index" asp-route-id="@item.Id" class="">
                                                    <i class="fa fa-angle-right"></i> @item.Name
                                                    <span>(@item.Blogs.Count())</span>
                                                </a>
                                            </li>
                                            }
                                        }




                                    </ul>
                            </div>
                        </div>
                        <!-- Sidebar resent post item -->
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Recent Post</h3>

                            <div class="recent-post-widget sidebar-widget">
                                @foreach (var item in Model.Blogs)
                                {
                                    <div class="recent-post d-flex">
                                        <div class="post-img">
                                            <a href="blog-details"><img src="~/Uploads/@item.Image" alt=""></a>
                                        </div>
                                        <div class="post-media">
                                            <span class="date">@item.AddedDate.ToString("dd MMM yyyy")</span>
                                            <h5>
                                                <a asp-controller="blog" asp-action="details" asp-route-id="@item.Id">
                                                   @item.Title.Substring(0,20)
                                                </a>
                                            </h5>
                                        </div>
                                    </div>
                                }
                              
                            </div>
                        </div>
                        <!-- Sidebar tag item  start-->
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Popular Tag</h3>

                            <div class="sidebar-tag sidebar-widget d-inline-block">
                                <ul>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Organic</a></li>
                                    <li><a href="#">Old Fashion</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Dress</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar banner item -->
                        <div class="sidebar-wrap-image sidebar-wrap p-0 mb-0">
                            <div class="banner-mini-card">
                                <div class="banner-img">
                                    <img src="~/assets/images/banner/3.jpg" alt="">
                                </div>
                                <div class="banner-content">
                                    <span class="category">Best Seller</span>
                                    <h6 class="title">
                                        Flower Vase <br>
                                        &amp; Poot
                                    </h6>
                                    <a href="#" class=" btn primary-button text-uppercase">
                                        Shop
                                        Now
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Blog details section end-->
</main>
