@model BlogVm
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Blog";
}

<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Blog</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Blog section start-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">

              <vc:blog></vc:blog>

                
            </div>
            <div class="pagination justify-content-center mt-0 mb-0">
                <div class="pages">
                    <ul>
                        @{
                            int j = 0;
                        }
                        @if (ViewBag.prewPage != 0)
                        {
                            <li class="page-item">
                                <a class="page-link" asp-controller="blog" asp-action="index" asp-all-route-data="@ViewBag.Filter" asp-route-page="@ViewBag.prewPage"><i class="fa fa-angle-left"></i></a>
                            </li>
                        }
                        @for (int i = 1; i <= ViewBag.PageCount; i++)
                        {
                            <li class="page-item"><a class="page-link @(ViewBag.ActivePage==i?"active":"")" asp-controller="blog" asp-action="index" asp-all-route-data="@ViewBag.Filter" asp-route-page="@i">@i</a></li>
                            j = i;
                        }
                        @if (ViewBag.nextPage <= j)
                        {
                            <li class="page-item">
                                <a class="page-link"  asp-controller="blog" asp-action="index" asp-all-route-data="@ViewBag.Filter" asp-route-page="@ViewBag.nextPage"><i class="fa fa-angle-right"></i></a>
                            </li>
                        }


                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!--Blog section end-->
</main>

