@model IEnumerable<BasketViewModel>
<div class="shop user-btn">

    <div class="btn-group">
        <a class="btn  dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="pe-7s-shopbag"></i>
            @if (Model != null)
            {
                <span class="header-action-num">@Model.Count()</span>
            }
            else
            {
                <span class="header-action-num">0</span>
            }


        </a>
        <div class="dropdown-menu">
            <ul class="minicart-product">
                @if (Model != null)
                {
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="product-details.html">
                                <figure><img src="~/Uploads/@item.MainImage" alt="" width="50" height="50"></figure>
                                <strong><span>Hand-Made Garlic Mortar</span>@item.Quantity x @item.Price </strong>
                            </a><strong><a class="remove-basket" data-id="@item.Id" data-price="@item.Price" data-quantity="@item.Quantity" href="#">×</a></strong>


                            <hr class="dropdown-divider">
                        </li>
                    }
                }
                else
                {
                    <li><span>Səbətiniz boşdur</span></li>
                }
            </ul>

            @if (Model != null)
            {

                decimal subTotal = 0;
                foreach (var item in Model)
                {
                    subTotal += item.Price * item.Quantity;
                }


                <div class="total-drop">
                    <div class="clearfix"><strong>Total</strong><span class="subTotal">₼@subTotal.ToString("#.00")</span></div>
                    <a asp-controller="basket" asp-action="cart" class="btn btn-cart">View Cart</a><a href="checkout.html" class="btn btn-cart checkout">Checkout</a>
                </div>
            }


        </div>
    </div>
</div>

