@model CategoryListViewModel

@{
    ViewData["Title"] = "Shop";
}


<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">@Model.Category.Name</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Ana səhifə</a></li>
                            <li class="breadcrumb-item active">@Model.Category.Name</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Shop product section start-->
    <section class="section-style-one">
        <div class="container">
            <div class=" row">
                <div class="col-xl-9 col-lg-8 col-md-12 ">
                    <div class="deal-card-inner mb-5" style="background-image:url(/assets/images/deal-img/deal-bg.jpg);">
                        <div class="deal-content">
                            <h3 class="deal-title">
                                Handmade Pen Holder <br>
                                &amp; Offer Sale -20%
                            </h3>
                            <span class="deal-price">
                                <span class="old"> $25.00</span>
                                <span class="new">- $18.00</span>
                            </span>
                            <a href="#" class="btn btn-lg primary-button">Add To Cart</a>
                        </div>
                        <div class="deal-image">
                            <img class="img-fluid" src="/assets/images/deal-img/woman.png" alt="">
                            <div class="discount">
                                <h3>-20%</h3>
                            </div>
                        </div>
                    </div>


                    <div class="shop-cart-area">
                        <div class=" row">
                            <div class="col-md-12">
                                <div class="filter__menu__container">

                                    <div class="product__menu">
                                        <div class="product__list__option">
                                            <label for="SortBy">Sort by</label>
                                            <div class="order-single-btn">
                                                <select class="selectpicker" asp-for="OrderBy" id="SortBy">
                                                    <option value="@ProductListing.neness">Yenilər</option>
                                                    <option value="@ProductListing.PriceAsc">Əvvəl ucuzlar</option>
                                                    <option value="@ProductListing.PriceDsc">Əvvəl bahalılar</option>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in Model.Products)
                            {
                                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 height-resize @item.Category.Name">
                                    <partial name="Products/_SingleProduct" model="item" />

                                </div>

                            }
                        </div>
                        <div class="row">
                            <div class="pagination justify-content-center mt-0 mb-5">
                                <div class="pages">
                                    <ul>
                                        @if (Model.Count > Model.Limit)
                                        {
                                            @if (Model.Page != 1)
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(Model.Page - 1)"><i class="fa fa-angle-left"></i></a>
                                                </li>

                                            }

                                            @for (int i = 0; i < Math.Ceiling(Model.Count / (double)Model.Limit); i++)
                                            {
                                                <li class="page-item"><a class="page-link @(i + 1 == Model.Page ? "active" : "")" asp-controller="shop" asp-action="index" asp-route-page="@(i + 1)">@(i + 1)</a></li>
                                            }
                                            @if (Model.Page != Math.Ceiling(Model.Count / (double)Model.Limit))
                                            {
                                                <li class="page-item">
                                                    <a class="page-link" asp-controller="shop" asp-action="index" asp-route-page="@(Model.Page + 1)">
                                                        <i class="fa fa-angle-right"></i>
                                                    </a>
                                                </li>
                                            }

                                            }


                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-3 col-lg-4  ">
                    <div class="sidebar-right margin-right-20">
                        <!-- Sidebar search item start-->
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Search</h3>
                            <div class="search-widget sidebar-widget">
                                <form asp-controller="shop" asp-action="index" method="get">

                                    <div class="mb-3">
                                        <label for="min" class="form-label">Minimum Price</label>
                                        <input name="MinPrice" type="number" class="form-control" id="min">

                                    </div>
                                    <div class="mb-3">
                                        <label for="max" class="form-label">Maximum Price</label>
                                        <input name="MaxPrice" type="number" class="form-control" id="max">
                                    </div>

                                    <button style="top: 193px;" type="submit" class="btn btn-primary">Filter</button>

                                </form>
                            </div>
                        </div>
                        <!-- Sidebar search item end-->
                      
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Recent Post</h3>

                            <div class="recent-post-widget sidebar-widget">
                              <vc:resent-product></vc:resent-product>
                               
                            </div>
                        </div>
                        <!-- Sidebar tag item  start-->
                        <div class="sidebar-wrap">
                            <h3 class="sidebar-title">Popular Tag</h3>

                            <div class="sidebar-tag sidebar-widget d-inline-block">
                                <ul>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Organic</a></li>
                                    <li><a href="#">Old Fashion</a></li>
                                    <li><a href="#">Men</a></li>
                                    <li><a href="#">Fashion</a></li>
                                    <li><a href="#">Dress</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- Sidebar banner item -->
                        <div class="sidebar-wrap-image sidebar-wrap p-0 mb-0">
                            <div class="banner-mini-card">
                                <div class="banner-img">
                                    <img src="~/assets/images/banner/3.jpg" alt="">
                                </div>
                                <div class="banner-content">
                                    <span class="category">Best Seller</span>
                                    <h6 class="title">
                                        Flower Vase <br>
                                        &amp; Poot
                                    </h6>
                                    <a href="#" class=" btn primary-button text-uppercase">
                                        Shop
                                        Now
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

        </div>
    </section>
    <!--Shop product section end-->
</main>

