
@model AddToCartVm
@{
    ViewData["Title"] = "Cart";
    decimal subtotal = 0;
    decimal tax = 0;
    decimal ordertotal = 0;


}

<main>
    <!--Breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Cart</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--Breadcrumb section end-->
    <!--Cart section start-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <h3 class="cart-page-title">Your cart items</h3>
                <div class="col-lg-12 col-md-12  col-12">
                    <form action="#">
                        <div class="cart-table-content table-responsive cart-basket">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        @foreach (var item in Model.Products)
                                        {
                                            <tr>
                                                <td class="product-img">
                                                    <a href="#">
                                                        <img class="img margin-left-15"
                                                             src="~/Uploads/@item.MainImage" alt="@item.Name">
                                                    </a>
                                                </td>
                                                <td class="product-name td-style"><a href="#">@item.Name</a></td>
                                                <td class="product-price td-style"><span class="amount">@item.Price.ToString("0.00")</span></td>
                                                <td class="product-quantity td-style">
                                                    <div class="cart-plus-minus">
                                                        <div class="minus plmin">-</div>
                                                        <input type="number" name="" data-id="@item.Id" data-price="@item.Price"class="cart-plus-minus-box quantityCart"  value="@item.Quantity">
                                                        <div data-max="@item.MaxQuantity" class="plus plmin">+</div>
                                                    </div>
                                                </td>
                                                <td class="product-subtotal td-style"><strong>@((item.Price * item.Quantity).ToString("0.00"))</strong></td>
                                                <td class="product-remove td-style">

                                                    <a class="remove-basket" data-id="@item.Id" data-price="@item.Price" data-quantity="@item.Quantity" href="#"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                        }

                                    }

                                </tbody>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-box">
                                    <div class="shop-update">
                                        <a asp-controller="Shop" asp-action="index" asp-route-id="1">Continue Shopping</a>
                                    </div>

                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 martop-30">
                                <div class="grand-total">
                                    <div class="title-box">
                                        <h4 class="cart-title bg-gray">Cart Total</h4>
                                    </div>
                                    @if (Model.Products.FirstOrDefault() != null)
                                    {

                                        foreach (var item in Model.Products)
                                        {
                                            subtotal += item.Price * item.Quantity;
                                        }
                                        if (subtotal < Model.Tax.PriceLimit)
                                        {
                                            tax = subtotal * Model.Tax.Percent / 100;
                                            ordertotal = subtotal + tax;
                                        }
                                        else
                                        {
                                            ordertotal = subtotal;
                                        }

                                    }


                                    <h5 class="add-prd-total">Total products <strong  id="subtotal">₼ @subtotal.ToString("#.00")</strong></h5>
                                    <div class="total-shipping">
                                        <h5>Total shipping</h5>
                                        <ul id="shipping_method">
                                            <li>
                                                <label>Other Tax:</label>
                                                <label> <strong id="tax">$@(Model.Products.FirstOrDefault() != null? tax.ToString("0.00") :"0.00")</strong> </label>
                                            </li>
                                          

                                        </ul>
                                    </div>
                                   
                                        <h4 class="grand-totall-title amount finalTotal">Grand Total<strong id="orderTotal">$@(Model.Products.FirstOrDefault() != null ? ordertotal.ToString("0.00"):"0.00")</strong></h4>


                                    
                                  

                                    <a asp-controller="basket" asp-action="checkout">Proceed to Checkout</a>
                                </div>
                            </div>
                        </div>
                    </form>
                   
                </div>
            </div>
        </div>
    </section>
    <!--Cart section end-->
</main>
