@model AboutViewModel
@{
    ViewData["Title"] = "About";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name">Haqqımızda</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a  asp-controller="home" asp-action="index">Ana səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Haqqımızda</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <!--About section start-->
    <section class="section-style-one about-section">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="about-image-box">
                        <img src="~/assets/images/about-image/@Model.Missions.Image" alt="" class="about-image">
                        <img src="~/assets/images/about-image/srevice-left-shape.png" alt="" class="about-image-2">
                        <div class="about-video">
                            <a href="@Model.Missions.Videolink" target="_self" class="about-video-link">
                                <span class="fa fa-play"><i class="ripple"></i></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-7">
                    <div class="about-content">
                        <h2 class="about-title">@Model.Missions.Title</h2>
                       <p class="des-1">@Model.Missions.Desc</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--About section end-->
    <!--Feature section start-->
    <section class="section-style-one pt-0">
        <div class="container">
            <div class="row">
                <div class="feature-cards d-flex">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Free Shipping</h4>
                                <span class="sub-title">Capped at $39 per order</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Card Payments</h4>
                                <span class="sub-title">12 Months Installments</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6  col-sm-12">
                        <div class="feature">
                            <div class="feature-icon">
                                <img src="~/assets/images/icons/3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4 class="title">Easy Returns</h4>
                                <span class="sub-title">Shop With Confidence</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Feature section end-->
    <!--Team section start-->
    <section class="section-style-two ">
        <div class="container">
            <div class="row">
                <div class="product-content text-center">
                    <h2 class="product-title bg-gif ">Komanda üzvləri</h2>
                    <p class="product-description">
                       
                    </p>
                </div>

            </div>
            <div class="row">
                @foreach (var item in Model.TeamMembers)
                {
                    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-5">
                        <!-- Team card -->
                        <div class="team-card-wrapper ">
                            <div class="team-image overflow-hidden">
                                <img src="~/assets/images/team/@item.Image" alt="">
                            </div>
                            <div class="team-inner">
                                <div class="team-content">
                                    <h6 class="title">@item.FullName</h6>
                                    <span class="sub-title">@item.Profession</span>
                                </div>
                                <ul class="team-social d-flex">
                                    @foreach (var social in item.Socials)
                                    {
                                        <li><a href="@social.Link">@Html.Raw(social.Social.Icon)</a></li>
                                    }

                                </ul>
                            </div>
                        </div>
                        <!-- Team card -->
                    </div>
                }

               
            </div>

        </div>
    </section>
    <!--Team section end-->
    <!--Clients comment section start-->
    <section class="client-section">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-12">
                    <div class="product-content text-center">
                        <h2 class="product-title bg-gif ">Müştərilərimizin fikirləri</h2>
                        <p class="product-description">
                        
                        </p>
                    </div>
                </div>
                <div class="client-slider-wrap ">
                    <button type="button" class="prev"> <i class="pe-7s-angle-left-circle"></i></button>
                    <div class="client-slider">
                        @foreach (var item in Model.whatClientSays)
                        {
                            <div class="clients-slider-inner">
                                <div class="client-img">
                                    <img src="~/assets/images/testimonial-image/@item.ClientImage" alt="">
                                </div>
                                <div class="client-slider-content">
                                   
                                        @Html.Raw(item.ClientComment)
                                    
                                </div>
                                <div class="client-about-box text-center">
                                    <div class="client-name-enterprise">
                                        <h4 class="name">@item.FullName</h4>
                                        <span class="enterprise">@item.companyName</span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <button type="button" class="next"><i class="pe-7s-angle-right-circle"></i></button>
                </div>
            </div>

        </div>
    </section>
    <section class="section-style-one martop-sm-20">
        <div class="container">
            <div class="row">
                <div class="brand-slider">
                    @foreach (var brand in Model.Brands)
                    {
                        <div class="brand-slider-item ">
                            <a href="#">
                                <img class=" img-fluid"
                                     src="~/assets/images/brand-logo/@brand.Icon" alt="">
                            </a>
                        </div>
                    }

                    
                </div>
            </div>
        </div>
    </section>

</main>
