
@model IEnumerable<BasketViewModel>

@{ 
    decimal total = 0;
}
    <a class="action-btn cart-btn">
        <i class="pe-7s-shopbag" data-bs-toggle="offcanvas"
           data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></i> <span class="header-action-num">@Model.Count()</span>
    </a>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight"
         aria-labelledby="offcanvasRightLabel">
        <div class="inner">
            <div class="offcanvas-header">
                <h5 id="offcanvasRightLabel title">Səbət</h5>

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
            </div>
            <div class="offcanvas-body body customScroll">
                <ul class="minicart-product">

                    @foreach (var item in Model)

                    {

                        decimal price = item.Product.Price;
                        if (item.Product.Discount != null)
                        {
                            price = item.Product.Price - (item.Product.Price * item.Product.Discount.Percentage / 100);
                        }

                        total += (price * item.Count);
                        <li>
                            <a asp-controller="product" asp-action="index" asp-route-id="@item.Product.Id" class="image-box">
                                <img src="~/assets/images/product-image/@item.Product.Photos.First()"
                                     alt="Cart product Image">
                            </a>
                            <div class="content">
                                <a href="~/#" class="title">@item.Product.Name</a>
                                <span class="quantity-price">
                                    @item.Count x <span class="amount">@price.ToString("#.00")</span>
                                </span>
                                <a asp-controller="cart" asp-action="remove" asp-route-id="@item.Id" class="remove">×</a>
                            </div>
                        </li>

                    }
                </ul>
               
                <h4 class="grand-totall-title justify-content-between d-flex" style="color:#eaaa85;font-size:20px;">Ümumi məbləğ<span>@total.ToString("#.00") ₼</span></h4>
                <div class="ofcanvas-buttons">
                    <div class="buttons">
                        <a asp-controller="cart" asp-action="index" class="btn btn-dark mt-5">Səbətə bax</a>
                        <a asp-controller="checkout" asp-action="index" class="btn btn-checkout mt-5">Sifarişi tamamla</a>
                    </div>
                </div>

            </div>
        </div>
    </div>