@model ContactViewModel
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@{
    ViewData["Title"] = "Index";
}

<main>
    <!--breadcrumb section start-->
    <section class="breadcrumb-section">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-12 text-center">
                    <h1 class="page-name ">Bizimlə əlaqə</h1>
                    <nav class="d-flex justify-content-center" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="home" asp-action="index">Ana səhifə</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Əlaqə</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!--breadcrumb section end-->
    <section class="section-style-one">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info">
                        <span class="contact-subtitle" style="text-transform:capitalize">
                            Ümumi məlumat üçün bizə müraciət et:
                        </span>
                        <h4 class="contact-title" style="text-transform:capitalize">
                            bizimlə
                            əlaqə
                        </h4>
                        
                        <div class="contact-card">
                            <div class="icon">
                                <i class="pe-7s-call"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="title">Phone:</h5>
                                <p><a href="tel:>@Model.Contact.Phone">@Model.Contact.Phone</a></p>
                            </div>
                        </div>
                        <div class="contact-card">
                            <div class="icon">
                                <i class="pe-7s-mail"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="title">Email:</h5>
                                <p><a href="mailto:@Model.Contact.Email">@Model.Contact.Email</a></p>
                            </div>
                        </div>
                        <div class="contact-card">
                            <div class="icon">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="info-box">
                                <h5 class="title">Address:</h5>
                                <p>@Model.Contact.Address</p>
                            </div>
                        </div>
                        <div class="socials d-flex">
                            <ul class="social">

                                @foreach (var item in Model.Contact.Socials)
                                {
                                    <li>
                                        <a href="@item.Link">@Html.Raw(item.Icon)</a>
                                    </li>
                                }
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="contact-form">
                        <div class="contact-content marbot-30">
                            <h2 class="title">@Model.Contact.Title</h2>
                            <p>
                                @Html.Raw(Model.Contact.Desc)
                            </p>
                        </div>
                        <form id="contact-form" asp-controller="contact" asp-action="index" method="post">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input asp-for="Name" class="form-control" id="name1" type="text" placeholder="Your Name:" required>
                                </div>
                                <div class="col-lg-6">
                                    <input asp-for="Surname" class="form-control" id="surname1" type="text" placeholder="Your Surname:" required>
                                </div>
                                <div class="col-lg-12">
                                    <input asp-for="Email" class="form-control" id="email1" type="email" placeholder="Your Email:" required>
                                </div>
                                <div class="col-lg-12">
                                    <input asp-for="Phone" data-mask="(000) 000 00 00" class="form-control" id="phone" type="tel" placeholder="Your Phone:">
                                </div>
                                <div class="col-lg-12">
                                    <textarea asp-for="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Your Message"></textarea>
                                    <button class="btn primary-button mt-4" type="submit">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="contact-map">
        <div class="mapouter">
            <div class="gmap">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d96731.51333794663!2d48.14251516335288!3d40.74311058115397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2s!4v1653048829673!5m2!1sen!2s"
                        style="border:0;width:100%; height:450px;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </div>

</main>

